@font-face {
    font-family: characterFont;
    src: url(./../assets/character-font.ttf);
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(125px, 1fr));
    column-gap: 80px;
    row-gap: 26px;
    /* max-width: 1440px; */
    /* background-color: gainsboro; */
    margin-bottom: 33px;
}

.shadow-box {
    display: flex;
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 0px 5px 0px black;
}

.card-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 145px;
    overflow-x: hidden;
    border-top: 10px solid rgb(141, 121, 121);
    border-left: 10px solid rgb(141, 121, 121);
    border-right: 10px solid rgb(141, 121, 121);
    background-color: rgb(141, 121, 121);
    max-height: 265px;
    border-radius: 20px;
    outline: 1px solid black;
    font-family: characterFont;
    box-shadow: 0px 0px 12px rgb(66, 66, 66);
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.card-container:hover {
    transform: translateY(-9px);
    opacity: 0.7;
}

.character-title {
    text-align: center;
    font-size: 16px;
    /* margin-top: 8px; */
    margin: 10px 0px;
    /* align-self: center; */
}

.card-portrait {
    height: 190px;
    
}


@media (max-width: 1440px) {
    .gameboard-container {
        column-gap: 50px;

    }

    .card-container, .shadow-box {
        width: 135px;

    }

    .card-portrait{
        height: 160px;
    }

}

@media (max-width: 1100px) {
    .gameboard-container {
        column-gap: 40px;

    }

    .card-container, .shadow-box {
        width: 120px;

    }

    .card-portrait{
        height: 140px;
    }

}

@media (max-width: 1000px) {
    .gameboard-container {
        grid-template-columns: repeat(4, minmax(125px, 1fr));
    }
}

@media (max-width: 850px) {
    .gameboard-container {
        grid-template-columns: repeat(3, minmax(125px, 1fr));
    }
}




/* reset game event */
.reset-game-container {
    height: 270px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: rgb(44,44,45);
    background: radial-gradient(circle, rgba(44,44,45,1) 11%, rgba(190,154,53,1) 100%);
    border: 4px solid rgb(76, 76, 75);
    padding: 8px;
    border-radius: 25px;
    color: rgb(210, 208, 208);
    box-shadow: 0px 0px 20px 0px rgb(58, 58, 58);
}

.won-message, .lose-message {
    text-align: center;
    font-size: 22px;
}

.won-message {
    margin-bottom: 0px;
}

.lose-gif {
    font-size: 20px;
    border: none;
    height: 35%;
    width: 35%;
    margin-bottom: 20px;
}

.win-gif {
    height: 35%;
    width: 35%;
    margin-bottom: 20px;
}