.gameboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card-portrait {
    height: 240px;
    /* display: none; */
}



/* reset game event */
.reset-game-container {
    background-color: rgb(150, 112, 186);
}