.header-container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.game-title {
    font-size: 45px;
    margin: 10px 15px;
    color: forestgreen;
}

.score-info {
    display: flex;
    align-items: center;
    color: white;
}

.current-score {
    padding-right: 25px;
}

.best-score {
    padding-right: 20px;
}