html {
    margin: 0px;
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0px;
}

#root {
    min-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-rows: 1.2fr 9fr .6fr;
    min-height: 100vh;
}

.footer-container {
    grid-row: 3;
    background-color: rgb(95, 95, 112);
}

