@font-face {
    font-family: endFont;
    src: url(./../assets/lumos.ttf);
}


html {
    margin: 0px;
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0px;
    background-image: url('./../assets/hogwarts.jpg');
    background-size: cover;
}

#root {
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-game-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    min-height: calc(100vh - 110px);
    min-width: 1440px;
}

.start-game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(223, 208, 126);
    height: 240px;
    width: 240px;
    padding: 20px;
    font-family: endFont;
    box-shadow: 0px 0px 23px 0px black;
    border: 2px solid black;
}

.difficulty-message {
    font-size: 21px;
}

.start-game-container > button {
    height: 70px;
    width: 150px;
    font-family: endFont;
    font-size: 18px;
    background-color: rgb(107, 89, 60);
    color: white;
    font-weight: bolder;
    text-align: center;
    transition: all 250ms ease-out;
    will-change: transform;
}

.start-game-container > button:hover {
    transform: scaleX(1.2);
    color: rgb(133, 107, 218);
    text-shadow: 0px 0px 10px rgb(61, 61, 61);
    /* -webkit-text-fill-color: rgb(133, 107, 218);
    -webkit-text-stroke-width: 0.25px;
    color: white; */
}




@media (max-width: 1440px) {
    .main-game-container {
        min-width: 1100px;
    }
}

@media (max-width: 1100px) {
    .main-game-container {
        min-width: 900px;
    }
}


@media (max-width: 1000px) {
    .main-game-container {
        min-width: 500px;
    }
}
