html {
    margin: 0px;
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0px;
}

#root {
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1.2fr 9fr .6fr; */
    min-height: 100vh;
}

.main-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 208, 126);
    height: 240px;
    padding: 15px;
}

.start-game-container > button {
    width: 130px;
    margin-top: 10px;
}



.footer-container {
    /* grid-row: 3; */
    height: 30px;
    background-color: rgb(95, 95, 112);
}

